html {
    height: 100%;
}

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    background-color: var(--bs-gray-600);
    color: var(--bs-dark);
}

.container {
    flex: 1;
}

footer {
    margin-top: auto;
}
